version: "3"
services:
    postgres:
        image: "postgres:15"
        ports:
            - 5432:5432
        environment:
            POSTGRES_USER: username
            POSTGRES_PASSWORD: password
            POSTGRES_DB: db_api
