version: "3.7"
services:
    app:
        restart: on-failure
        build: ../app/
        container_name: app
        depends_on:
            - postgres
        # links:
        #     - postgres
        # environment:
        #     DATABASE_URL: postgres://username:password@postgres:5432/db
        #     NODE_ENV: development
        #     PORT: 3000
        ports:
            - "3333:3000"
        # hostname: app
        # command: yarn dev
        # extra_hosts:
        #     - "host.docker.internal:172.17.0.1"
    postgres:
        image: "postgres:latest"
        container_name: postgres
        ports:
            - 5432:5432
        # hostname: postgres
        environment:
            POSTGRES_USER: username
            POSTGRES_PASSWORD: password
            POSTGRES_DB: default_database
