version: "3"
services:
    postgres:
        image: "postgres:latest"
        container_name: postgres
        ports:
            - 5432:5432
        environment:
            POSTGRES_USER: username
            POSTGRES_PASSWORD: password
            POSTGRES_DB: default_database
        deploy:
            replicas: 2
            placement:
                constraints: [node.role==worker]
