version: "3"
services:
    insert:
        image: pachecowillians/update:latest
        ports:
            - "3333:3333"
        env_file:
            - ../.env
        deploy:
            replicas: 2
            placement:
                constraints: [node.role==worker]
