apiVersion: v1
kind: Pod
metadata:
    name: update-pod
spec:
    containers:
        - name: update-container
          image: pachecowillians/update:latest
          ports:
              - containerPort: 3333
          env:
              - name: HOST
                value: 10.98.81.251
    hostNetwork: true
---
apiVersion: v1
kind: Service
metadata:
    name: update-service
spec:
    selector:
        app: update
    ports:
        - protocol: TCP
          port: 3333
          targetPort: 3333
    type: LoadBalancer
